* {
	margin: 0;
	padding: 0;
}
html,body{
	font-family: 'microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	min-width: 320px;
}
html,body{
 width: 100%;
 height: 100%;
}
.logo{
	width: 100%;
}
.logo h1{
	margin-bottom: 0.2rem;
	width: 100%;
	background: #fff;
}
.logo h1 img{
   margin: 0 auto;
   display: block;
   width: 1.6rem;
   height: 0.9rem;
}

.congratulation p{
	margin:0;
	padding: 0 0.5rem;
	color: #009de2;
	text-align: center;
}
.congratulation p:nth-child(1){
	margin-top: 0.4rem;
	font-size: 22px;
	font-weight: bold;
	font-family: "黑体";
}
.congratulation p:nth-child(2){
	margin-top: 0.1rem;
	font-size: 17px;
	font-weight: 500;
}
form{
	margin-top: 0.3rem;
	padding: 0 0.5rem;
}
form>div{
	margin-bottom: 0.2rem;
}
form label{
	float: left;
	display: block;
	min-width: 4em;
	width: 25%;
	height: 0.72rem;
	line-height: 0.72rem;
}

form input{
	margin-left: 4.5em;
	display: block;
	height: 0.72rem;
	width: 70%;
	border: 1px solid #989898;
	border-radius: 5px 5px;
	text-indent: 1em;
	font-size: 15px;
}
form .addressContainer{
	margin-left: 4.5em;
	margin-bottom: 0.2rem;
	display: flex;
	width: 70%;
}
form .addressContainer input{
	display: inline-block;
	margin:0;
}
form #province{
	margin-right: 5%;
}
form #province,form #city{
	flex:1;
}
form button{
	width: 100%;
	background: #009de2;
	height: 0.72rem;
	border-style:none;
	color: #fff;
	border-radius: 5px 5px;
	font-size: 16px;
}
.focuse{
  margin: 0.6rem 0;
  padding: 0 0.5rem;
  /*display: flex;*/
}
.focuse img{
	display: block;
	margin-bottom: 0.5rem;
	float: left;
   width: 40%;
}
.focuse .text{
	/*display: inline-block;*/
    margin-left: 43%;
    padding-top: 1em;
    padding-bottom: 0.6rem;
	/*height: 100%;*/
/*	flex:1;
	font-size: 13px;*/
	vertical-align: top;
}
.focuse .text p:nth-child(2){
	/*position: absolute;*/
	margin-top: 0.1rem;
	bottom: 0;
	color:#009de2;
}

@media screen and (max-width: 390px) {
	 .focuse img{
		width: 35%;
	  }
	.focuse .text{
		padding-top: 0;
		margin-left: 38%;
		font-size: 12px;
	}
/*	.focuse{
	  padding: 0 0.3rem;
	}*/	
}